# Backend & API (Mahad)
fastapi
uvicorn[standard]
python-multipart
pymongo
motor
pydantic
pydantic-settings

# ML / CV (Umair)
rembg
torch
torchvision
transformers
pillow
numpy

# Chatbot & Integrations (Abdulrehman)
openai
python-dotenv
requests
